@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD-w.ttf) format('truetype');
}
html {
  min-height: 100vh;
  font-size: 13px;
  color: #fff;
  background: linear-gradient(#ff6a3a, #000000);
}
body {
  font-family: 'Montserrat', sans-serif;
}
.breadcrumb {
  width: 350px;
  height: 33px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-grow: row;
  justify-content: space-around;
}
.breadcrumb__ul {
  list-style-type: none;
  padding: 0;
}
.breadcrumb__item {
  display: inline-block;
}
.breadcrumb__divider {
  display: inline-block;
  width: 70px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin: 7px;
}
.breadcrumb__item--outer {
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  top: 5px;
}
.breadcrumb__item--current,
.breadcrumb__item--outer:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
.breadcrumb__item--inner {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  z-index: 1;
  top: 9px;
  left: 9px;
}
.title {
  font-size: 19px;
  font-weight: 800;
  text-align: center;
  margin: 105px 0 105px 0;
}
.form__register {
  margin: 0 auto;
  min-width: 320px;
}
.container__txt-field {
  position: relative;
  display: flex;
  color: #fff;
  margin-bottom: 14px;
}
.container__txt-field .input {
  width: 100%;
  height: 52px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  text-indent: 60px;
  color: white;
}
.container__txt-field .input::placeholder {
  color: #fff;
  font-weight: 500;
}
.container__txt-field .input:focus {
  color: #fff;
  outline: none;
}
.container__txt-field .input__icon {
  flex-grow: 1;
  position: absolute;
  width: 40px;
  background-repeat: no-repeat;
  transform: scale(0.5);
}
.container__txt-field .input__icon--name {
  height: 16px;
  left: 13px;
  top: 20px;
  background: url('../img/icons.png') -70px -10px;
}
.container__txt-field .input__icon--email {
  height: 34px;
  left: 13px;
  top: 10px;
  background: url('../img/icons.png') -130px -10px;
}
.container__txt-field .input__icon--password {
  height: 52px;
  left: 13px;
  background: url('../img/icons.png') -10px -10px;
}
.btn {
  width: 100%;
  height: 52px;
  max-width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 800;
  margin-top: 40px;
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 2px 2px;
}
.footer {
  text-align: center;
  margin-top: 20px;
}
.footer__a {
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
  color: gray;
}
.container__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-container-a {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(#ff6a3a, #000000);
}
.main-container-a .input {
  border-radius: 32px;
}
.main-container-a .btn {
  color: white;
  border-radius: 32px;
  background: none;
}
.main-container-b {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(#3aa9ff, #000000);
}
.main-container-b .input {
  border-radius: none;
}
.main-container-b .btn {
  color: black;
  border-radius: none;
  background: white;
}
