@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD-w.ttf) format('truetype');
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #fff;
}
.breadcrumb {
  width: 24.6rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-top: 0.8em;
  display: flex;
  flex-grow: row;
  justify-content: space-around;
}
.breadcrumb__list {
  list-style-type: none;
  padding: 0;
}
.breadcrumb__item {
  display: inline-block;
}
.breadcrumb__divider {
  display: inline-block;
  width: 5.4rem;
  height: 0.08rem;
  background: rgba(255, 255, 255, 0.3);
  margin: 0.8rem;
}
.breadcrumb__item--outer {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 0.08rem solid rgba(255, 255, 255, 0);
  top: 5px;
}
.breadcrumb__item--current,
.breadcrumb__item--outer:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
.breadcrumb__item--inner {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: white;
  z-index: 1;
  top: 0.7rem;
  left: 0.7rem;
}
.title {
  font-size: 1.46rem;
  font-weight: 800;
  text-align: center;
  margin: 8.1rem 0 8.1rem 0;
}
.form__register {
  margin: 0 auto;
  width: 24.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container__txt-field {
  position: relative;
  display: flex;
  color: #fff;
  margin-bottom: 1.1rem;
}
.container__txt-field .input {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  text-indent: 4.6rem;
  color: white;
}
.container__txt-field .input::placeholder {
  color: #fff;
  font-weight: 500;
}
.container__txt-field .input:focus {
  color: #fff;
  outline: none;
}
.container__txt-field .input__icon {
  width: 40px;
  left: 1.8rem;
  flex-grow: 1;
  position: absolute;
  background-repeat: no-repeat;
  transform: scale(1.5);
}
.container__txt-field .input__icon--name {
  height: 16px;
  top: 1.8rem;
  background: url('../img/icons.png') -70px -10px;
}
.container__txt-field .input__icon--email {
  height: 34px;
  top: 1.4rem;
  background: url('../img/icons.png') -130px -10px;
}
.container__txt-field .input__icon--password {
  height: 52px;
  top: 1rem;
  background: url('../img/icons.png') -10px -10px;
}
.btn {
  width: 100%;
  height: 4rem;
  min-width: 24.6rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 800;
  margin-top: 3.1rem;
}
.footer {
  text-align: center;
  margin-top: 1.5rem;
}
.footer__anchor {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}
.main-container-a {
  height: 95vh;
  padding: 1.5rem;
  background: linear-gradient(#ff6a3a, #000000);
}
.main-container-a .input {
  border-radius: 2rem;
}
.main-container-a .btn {
  color: #fff;
  border-radius: 2rem;
  background: none;
}
.main-container-a .btn:focus {
  outline: none;
  box-shadow: 0 0 2px 2px;
}
.main-container-b {
  min-height: 95vh;
  padding: 20px;
  background: linear-gradient(#3aa9ff, #000000);
}
.main-container-b .input {
  border-radius: none;
}
.main-container-b .btn {
  color: #000;
  border-radius: none;
  background: white;
}
.main-container-b .btn:focus {
  outline: none;
  box-shadow: 0 0 3px 3px #3aa9ff;
}
