@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800');

@background-a: linear-gradient(#ff6a3a, #000000);
@background-b: linear-gradient(#3aa9ff, #000000);
@background-btn-a: none;
@background-btn-b: white;
@border-radius-a: 2rem;
@border-radius-b: none;
@color-btn-a: #fff;
@color-btn-b: #000;

@font-size: 35px;
@font-color: #fff;
@font-family: 'Montserrat', sans-serif;
@background-input: rgba(255,255,255,0.1);

html {
  font-family: @font-family;
  font-size: @font-size;
  color: @font-color;
}

.breadcrumb {
  width: 24.6rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-top: 0.8em;
  display: flex;
  flex-grow: row;
  justify-content: space-around;
}

.breadcrumb__list {
  list-style-type: none;
  padding: 0;
}

.breadcrumb__item {
  display: inline-block;
}

.breadcrumb__divider {
  display: inline-block;
  width: 5.4rem;
  height: 0.08rem;
  background: rgba(255,255,255,0.3);
  margin: 0.8rem;
}

.breadcrumb__item--outer {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 0.08rem solid rgba(255,255,255,0);
  top: 5px;
}

.breadcrumb__item--current, .breadcrumb__item--outer:hover {
  border-color: rgba(255,255,255,0.3);
}

.breadcrumb__item--inner {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: white;
  z-index: 1;
  top: 0.7rem;
  left: 0.7rem;
}

.title {
  font-size: 1.46rem;
  font-weight: 800;
  text-align: center;
  margin: 8.1rem 0 8.1rem 0;
}

.form__register {
  margin: 0 auto;
  width: 24.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container__txt-field {
  position: relative;
  display: flex;
  color: #fff;
  margin-bottom: 1.1rem;

  .input {
    width: 100%;
    height: 4rem;
    background: @background-input;
    border: none;
    text-indent: 4.6rem;
    color: white;

    &::placeholder{
      color: #fff;
      font-weight: 500;
    }

    &:focus {
      color: #fff;
      outline: none;
    }
  }

  .input__icon {
    width: 40px;
    left: 1.8rem;
    flex-grow: 1;
    position: absolute;
    background-repeat: no-repeat;
    transform: scale(1.5);
  }

  .input__icon--name {
    height: 16px;
    top: 1.8rem;
    background: url('../img/icons.png') -70px -10px;
  }


  .input__icon--email {
    height: 34px;
    top: 1.4rem;
    background: url('../img/icons.png') -130px -10px;
  }

  .input__icon--password {
    height: 52px;
    top: 1rem;
    background: url('../img/icons.png') -10px -10px;
  }

}

.btn {
  width: 100%;
  height: 4rem;
  min-width: 24.6rem;
  border: 1px solid rgba(255,255,255,0.3);
  font-weight: 800;
  margin-top: 3.1rem;
}

.footer {
  text-align: center;
  margin-top: 1.5rem;
}

.footer__anchor {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.container__content {

}

.main-container-a {
  height: 95vh;
  padding: 1.5rem;
  background: @background-a;

  .input {
    border-radius: @border-radius-a;
  }

  .btn {
    color: @color-btn-a;
    border-radius: @border-radius-a;
    background: @background-btn-a;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 2px;
    }
  }
}

.main-container-b {
  min-height: 95vh;
  padding: 20px;
  background: @background-b;

  .input {
    border-radius: @border-radius-b;
  }

  .btn {
    color: @color-btn-b;
    border-radius: @border-radius-b;
    background: @background-btn-b;

    &:focus {
      outline: none;
      box-shadow: 0 0 3px 3px #3aa9ff;
    }
  }
}
