@background-v1: linear-gradient(#ff6a3a, #000000);
@background-v2: linear-gradient(#3aa9ff, #000000);

html {
  height: 100%;
  font-size: 20px;
}

body {
  min-height: 100%;
  background: no-repeat @background-v1;
  padding: 5%;
  color: #fff;
  font-family: brandon-grotesque, sans-serif;
}

h1 {
  margin: 29% auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#form-base() {
  width: 100%;
  height: 3rem;
  margin-bottom: 4%;
  border-radius: 3em;
  font-size: 14px;
}

input {
  #form-base;
  border: 0;
  width: 95%;
  height: 1rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem 0 1rem 1rem;
}

input::placeholder{
  color: white;
}

button {
  #form-base;
  margin-top: 10%;
  background: none;
  border: 1px solid gray;
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 5%;
  margin-top: 2%;
  text-align: center;
}

footer > a {
  font-size: 12px;
  text-decoration: none;
  color: gray;
}

.nav-breadcrumb {
  list-style-type: none;
  width: 90%;
  height: 2rem;
  padding: 5%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
}

.nav-crumb {
  width: 0.3em;
  height: 0.3em;
  background: #fff;
  border-radius: 100%;

  &:focus {

  }
}

.nav-crumb--divider {
  width: 3em;
  height: 1px;
  background: #fff;
}
